:root {
    --font-color-light: rgb(220 206 231);
    --border-color: black;
    --color1: rgb(119, 119, 139);
    --color2: rgb(145, 119, 238);
    --color3: rgb(250, 244, 244);
    --color4: ;
}

body {

}

header {
    color: var(--font-color-light);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    padding: 31px;
    border-bottom: solid 9px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            rgb(234, 226, 250),
            rgb(219,164,219),
            rgb(123,88,171),
            rgb(219,164,219),
            rgb(234, 226, 250));
    box-shadow: 0px 15px 30px var(--color3);
    z-index: 10;
}

#book-entry {
    display: none;
}

#book-entry > .close {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.trash {
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#book-entry.show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    /* border: 3px solid var(--border-color); */
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    z-index: 11;
    gap: 30px;
    border-radius: 10px;
}

#book-entry > label {
    margin-bottom: -20px;
}

#book-entry > input {
    border: 3px solid var(--color1);
    border-radius: 5px;
    padding: 5px;
}

#books::before {
    content: "";
    background-image: linear-gradient(to bottom,
            rgb(218, 202, 240),
            rgb(123, 88, 171));
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#books {
    /* background-color: var(--color1); */
    padding: 75px;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
    gap: 50px;

}

.book-card {
    position: relative;
    background-color: var(--color3);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 5%;
    width: clamp(440px, 80%, 888px);
    align-self: center;
}

.book-card > label { 
    position: absolute;
    right: 120px;
}

[type="checkbox"] {
    position: absolute;
    right: 100px;
}

button {
    padding: 5px 50px;
    border-radius: 10px;
    border: none;
}

.add-book {
    border: 3px solid var(--color1);
}

button:hover {
    background-color: var(--color2);
}